    /* css override */

    body {
        background: #86bc26;
    }

    #bg {
        position: fixed;
        top: 0;
        left: 0;

        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
        background-color:azure;
    }
    
    .bubble-container {
        background: #86bc26;
        height: 100vh;
    }

    .bubble-container .input-wrap textarea {
        margin: 0;
        width: calc(100% - 30px);
    }