/* style user input field */
.bubble-container .input-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #2c2c2c;
}
.bubble-container .input-wrap textarea {
	width: calc(100% - 20px);
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #2c2c2c;
	background: rgb(255, 255, 255);
	font-size: 1em;
	letter-spacing: .5px;
	font-weight: 400;
	margin: 10px;
	border-radius: 15px;
	border: none;
	padding: 10px 15px;
	outline: none;
	box-shadow: 0 0 0 1px #d0d0d0 inset;
	line-height: 1.25em;
}
.bubble.reply-freeform {
	margin: 0;
}
.bubble.reply.reply-freeform.say .bubble-content .bubble-button {
	margin-top: 1px;
	text-align: left;
}
.bubble.reply.say.bubble-hidden {
	margin: 0;
	transform: scale(0);
	height: 0;
}

@media only screen and (max-width: 600px) {
	.bubble-container .input-wrap textarea {
		font-size: 1em;
	}
} 

@media only screen and (min-width: 768px) {
	.bubble-container .input-wrap textarea {
		font-size: 2em;
	}
} 