/* setup container styles */
.bubble-container {
	background: #dcdde0;
	height: 520px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.bubble-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: -17px;
	padding: 10px calc(17px + 10px) 30px 10px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translate3d(0, 0, 0);
}
/* optional page styles */
h1 {
	text-align: center;
	font-weight: 300;
	font-size: 4em;
	margin: .5em auto 0.15em;
}
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
}
